# ==========================
# Ambiente Virtual
# ==========================
venv/
.env/
.venv/

# ==========================
# Pastas de runtime
# ==========================
backups/
csv/

# ==========================
# Build PyInstaller
# ==========================
build/
dist/
*.spec

# ==========================
# Python cache
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VSCode / IDE
# ==========================
.vscode/
.idea/

# ==========================
# Sistema operacional
# ==========================
Thumbs.db
.DS_Store